<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>layuiAdmin 管理员 iframe 框</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
</head>

<body>

  <div class="layui-form" lay-filter="layuiadmin-form-admin" id="layuiadmin-form-admin" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
      <label class="layui-form-label">ID</label>
      <div class="layui-input-inline">
        <input type="text" name="id" lay-verify="required" readonly="readonly" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">用户名</label>
      <div class="layui-input-inline">
        <input type="text" name="username" lay-verify="required" readonly="readonly" autocomplete="off"
          class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">登录名</label>
      <div class="layui-input-inline">
        <input type="text" name="loginname" lay-verify="required" readonly="readonly" autocomplete="off"
          class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">手机</label>
      <div class="layui-input-inline">
        <input type="text" name="phone" lay-verify="phone required" placeholder="请输入手机号码" autocomplete="off"
          class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">角色</label>
      <div class="layui-input-inline">
        <select name="role" lay-verify="required">
          <option value="">请选择角色</option>
          <option value="1">管理员1</option>
          <option value="2">管理员2</option>
          <option value="3">管理员3</option>
        </select>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">创建时间</label>
      <div class="layui-input-inline">
        <input type="text" name="createdate" lay-verify="required" readonly="readonly" autocomplete="off"
          class="layui-input">
      </div>
    </div>
    <div class="layui-form-item layui-hide">
      <input type="button" lay-submit lay-filter="LAY-user-front-submit" id="LAY-user-back-submit" value="确认">
    </div>
  </div>

  <script src="../../../layuiadmin/layui/layui.js"></script>
  <script>
    layui.config({
      base: '../../../layuiadmin/' //静态资源所在路径
    }).extend({
      index: 'lib/index' //主入口模块
    }).use(['index', 'form'], function () {
      var $ = layui.$
        , form = layui.form;
      form.on('submit(LAY-user-front-submit)', function (d) {
        debugger;
        layui.admin.req({
          type: "post",
          contentType: "application/json",
          //请求地址
          url: layui.setter.baseUrl + "Admin/save",
          data: JSON.stringify({
            'id': d.field.id,
            'phone': d.field.phone,
            'role': d.field.role
          }),
          //请求成功
          success: function (result) {
            if(result.success){
              layer.msg(result.body);
            }
          }
        });
      });
    })
  </script>
</body>

</html>